.login-container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(214, 211, 211), 0px 0px 3px 3px rgb(223, 219, 219), 0px 0px 2px 2px #fff, 0px 3px 3px 3px rgb(214, 211, 211);
}
.email-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 250px;
}
.container-logo-email{
    width: 50%;  
    background: #424ca8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-image: url("../image/Recursos-Femto2/FondoLogin.png");
}
.logo-email{
    width: 100%;
    margin: auto;
}
.logo img{
    margin-left: 60px;
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(22, 24, 43);
    opacity: 10 !important;    
}


.formulario-email{
    width: 60%; 
    padding: 4em; 
    background: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-bottom: 50%;
    
}
.formulario-email button[type="submit"]{
    width: 100%;
    background: #e1ddf0;
}
.formulario-email .email-form .logo_clinica-email {
    padding: 30px;
    float: right;
    margin-right: 50%;

}

.formulario-email .email-form {
    width: 220%;
}

.formulario-email .email {
    margin-top: 50px
}
