.header{
    background: rgb(33, 61, 104);
    float: left;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header .nav-header{
    width: 120px;
    padding-top: 100%;
}

.header button{
    border: none;
    background: rgb(33, 61, 104); 
    width: 100%;
    padding: 0 !important;
    
}
.header i{
    color: white;
    cursor: pointer;
}

.header img {
    width: 100%;
    margin-bottom: 30px;
}

.header a {
    width: 100%;
}

/*.container-page {
    display: flex;
    flex-direction: row;
}*/
.header nav{
    background: rgb(33, 61, 104); 
}

.container-ce{

    width: 50%;
    
}
.documento{

    width: 50%;
    
}
.container-ce, .documento {
	height: 300px;
	margin: 0;
	border: 0;
	display: inline-block;
}

.img{
    background-color: white;
    padding: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}