.referir-container{
    margin-top: 50px;
    margin-right: 40px;
    margin: auto;
    padding: 100px;
    margin-left: 70px;
}

.referir-container .formulario-referir{
    box-sizing: border-box;
}

.Referir-container .h3-referir{
    margin-bottom: 22px;
    color: rgb(33, 61, 104);
}

.contenedor-referir{
    width: 50%;
    margin-top: 12px;
}

.referir-container .formulario-referir  .contenedor-referir button[type="submit"]{
    border: none;
    background: rgb(33, 61, 104);
    font-size: 12px;
    color: white;
    width: 150px;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px;
    float: right;
    margin-top: 30px;
}

.documento{
    width: 48%;
}

.container-ce{
    margin-left: 2%;
    width: 50%;
    
}

@media (max-width : 800px) and (max-height: 900px){

}