/*Login de la pagina*/
body{
    background-image: url("./image/Recursos-Femto2/Background.png");
    background-size: 99% 100%;
}
.login-container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgb(87, 84, 84), 0px 0px 2px 2px rgb(223, 219, 219), 0px 0px 2px 2px #fff;
}
.login{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 250px;
}
.container-logo{
    width: 50%;  
    background: #424ca8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-image: url("./image/Recursos-Femto2/FondoLogin.png");
}
.logo{
    width: 100%;
    margin: auto;
}
.logo img{
    margin-left: 60px;
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(22, 24, 43);
    opacity: 10 !important;    
}

.css-1kty9di-MuiFormLabel-root-MuiInputLabel-root {
    background-color:#fff !important;
    padding: 0 5px !important;
}

a {
    text-decoration: none;
}

.formulario{
    width: 50%; 
    padding: 5em; 
    background: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    
}
.formulario button{
    width: 100%;
    background: rgb(26, 4, 105);
}
.logo_clinica{
    padding: 30px;
    
}
/*Header Lateral*/

.header{
    background: rgb(33, 61, 104);
    float: left;
    height: 100vh;
}
.header .nav-header{
    width: 127px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header button{
    border: none;
    background: rgb(33, 61, 104); 
    width: 100%;
    padding: 0 !important;
}
.header i{
    color: white;
    cursor: pointer;
}
.logo-clinica {
    width: 100% !important;
}
.header img {
    margin-bottom: 50px;
}
.header .imglista {
    width: 100%;
    margin-bottom: 30px;
}
.header nav{
    background: rgb(33, 61, 104); 
}

.imgLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 10vh;
}

.lista-registro {
    display: flex;
    flex-direction: column;
    height: 65vh;
}

.cerrarSesion {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-ce{
    width: 50%;
}
.documento{
    width: 50%;
}
.container-ce, .documento {
	height: 300px;
	margin: 0;
	border: 0;
	display: inline-block;
}
.imgActiva{
    background-color: white;
    padding: 40px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.imgInactiva{
    background-color: white;
    padding: 40px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.imgLogo{
    width: 80%;
    display: flex;
    align-items: center;
}

/*Registrar Referido*/

.registrarefe-container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgb(231, 227, 227), 0px 0px 2px 2px rgb(223, 219, 219), 0px 0px 2px 2px #fff;
    height: 600px;
}
.page-registrarefe {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 250px;
}

.page-registrarefe .registrarefe-container .formulario-registrarefe .logo_clinica-registrarefe{
    width: 200px;
    display: block;
}
.logo_clinica-registrarefe{
    margin-right: 10%;
}
.container-logo-registrarefe{
    width: 50%;  
    background: #424ca8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-image: url("./image/Recursos-Femto2/FondoLogin.png");
    
}
.logo-registrarefe{
    width: 100%;
    margin: auto;
}
.logo-registrarefe img{
    margin-left: 60px;
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(22, 24, 43);
    opacity: 5;    
}


.formulario-registrarefe{
    width: 50%; 
    padding: 2em; 
    background: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    
}
.RegistrarReferido {
    padding: 2px !important;
    
}

.form-control input{
    height: 10px !important;
    margin-bottom: 0px !important;

}

.form-control {
    height: 10px !important;
    margin-top: 15px !important;
}

.MuiSelect-select {
    height: 10px !important;
}

.formulario-registrarefe button[type="submit"]{
    width: 100%;
    background: rgb(26, 4, 105);
    font-size: 15px;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-bottom: 50px;
}
.formulario-registrarefe img {
    padding: 30px;
}
._form-registro .form-control{
    margin-top: 10px;
}
.registrregistrarefeo{
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid rgb(26, 4, 105) !important;
}
.p-registrarefe , .h3-registrarefe{
    color: rgb(26, 4, 105);
}

._container-referidos{
    display: flex;
    width: 100%;
   
}

.container-Select-cedula{
    margin-top: 10px;
    width: 48%;
}
.container-identidad-email{
    width: 48%;
    margin-left: 4%;
    margin-top: 10px;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    min-height: 0% !important;
}
/*Regitro*/
.registro-container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgb(231, 227, 227), 0px 0px 2px 2px rgb(223, 219, 219), 0px 0px 2px 2px #fff;
    height: 600px;
}
.page-registro {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 250px;
}

.page-registro .registro-container .formulario-registro .logo_clinica-registro{
    width: 200px;
    display: block;
}
.container-logo-registro{
    width: 50%;  
    background: #424ca8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-image: url("./image/Recursos-Femto2/FondoLogin.png");
    
}
.logo-registro{
    width: 100%;
    margin: auto;
}
.logo-registro img{
    margin-left: 60px;
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(22, 24, 43);
    opacity: 5;    
}


.formulario-registro{
    width: 50%; 
    padding: 2em; 
    background: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    
}
.formulario-registro button[type="submit"]{
    width: 100%;
    background: rgb(26, 4, 105);
    font-size: 15px;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-bottom: 50px;
}
.formulario-registro img {
    padding: 30px;
    
}
.formulario-registro .form-control{
    margin-top: 10px;
}
.registro{
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid rgb(26, 4, 105) !important;
}
.p-registro , .h3-registro{
    color: rgb(26, 4, 105);
}

/*Referir*/

.referir-container{
    margin-top: 50px;
    margin-right: 40px;
    margin: auto;
    padding: 100px;
    margin-left: 70px;
}

.referir-container .formulario-referir{
    box-sizing: border-box;
}

.textfile{
    width: 60%;
 
}
.Referir-container .h3-referir{
    margin-bottom: 22px;
    color: rgb(33, 61, 104);
}
.h3-referir{
    color: #1c3678;
    margin-bottom: 5%;
}

.contenedor{
    width: 50%;
}

.contenedor-referir{
    width: 60%;
    margin-top: 12px;
}

.referir-container .formulario-referir  .contenedor-referir button[type="submit"]{
    border: none;
    background: rgb(33, 61, 104);
    font-size: 12px;
    color: white;
    width: 150px;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px;
    float: right;
    margin-top: 5px;
}

.documento{
    width: 48%;
}

.container-ce{
    margin-left: 2%;
    width: 50%;
    
}

.tabla-pacientes table{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-collapse: collapse;
}

.tabla-pacientes td{
    background-color: #fff !important;
    text-align: center;
    color: #1c3678 !important;
    font-weight: bold;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #1c3678;
}

.tabla-pacientes tr {
    height: 30px !important;
}

.tabla-pacientes th {
    background-color: #5179bd;
    color: #fff;
    text-align: center;
    border: 0;
    border-bottom: 0;
}

.table thead {
    background-color: rgb(87 130 222);
}

[data-test=table-foot] {
    display:none;
}

[data-test=datatable-select] {
    display: none;
}
[data-test=table]{
    border-radius: 10px;
}

@media (max-width : 800px) and (max-height: 900px){

}
/*Listado*/

.lista-container{
    align-items: center;
    justify-content: center;
    padding:10%;
}
.h3-Lista{
    color: #424ca8;
}

/*Confirma Email*/
.login-container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(214, 211, 211), 0px 0px 3px 3px rgb(223, 219, 219), 0px 0px 2px 2px #fff, 0px 3px 3px 3px rgb(214, 211, 211);
}
.email-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 250px;
}
.container-logo-email{
    width: 50%;  
    background: #424ca8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-image: url("./image/Recursos-Femto2/FondoLogin.png");
}
.logo-email{
    width: 100%;
    margin: auto;
}
.logo img{
    margin-left: 60px;
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(22, 24, 43);
    opacity: 10 !important;    
}


.formulario-email{
    width: 60%; 
    padding: 4em; 
    background: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-bottom: 50%;
    
}
.formulario-email button[type="submit"]{
    width: 100%;
    background: #e1ddf0;
}
.formulario-email .email-form .logo_clinica-email {
    padding: 30px;
    float: right;
    margin-right: 50%;

}

.formulario-email .email-form {
    width: 220%;
}

.formulario-email .email {
    margin-top: 50px
}
/*Componente ConfirEmail*/
.email1-container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgb(231, 227, 227), 0px 0px 2px 2px rgb(223, 219, 219), 0px 0px 2px 2px #fff;
    height: 600px;
}
.page-email1 {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 250px;
}

.page-email1 .email1-container .formulario-email1 .logo_clinica-email1{
    width: 200px;
    display: block;
}
.logo_clinica-email1{
    margin-right: 10%;
}
.container-logo-email1{
    width: 50%;  
    background: #424ca8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-image: url("./image/Recursos-Femto2/FondoLogin.png");
}
.logo-email1{
    width: 100%;
    margin: auto;
}
.logo-email1 img{
    margin-left: 60px;
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(22, 24, 43);
    opacity: 5;    
}
.formulario-email1{
    width: 50%; 
    padding: 2em; 
    background: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.formulario-email1 button[type="submit"]{
    width: 100%;
    background: rgb(26, 4, 105);
    font-size: 15px;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-bottom: 50px;
}
.formulario-email1 img {
    padding: 30px;
}
._form-email1 .form-control{
    margin-top: 10px;
}
.p-email1{
    color: rgb(26, 4, 105);
}
._container-email1{
    display: flex;
    width: 100%;
    margin-top: 5px;
}

/*Dashboar*/
.container-dashboar{
    width: 40%;
    padding: 10%;
}
.select-dashboar{
    margin-top: 5%;
    width: 30%;
    margin-bottom: 10%;
}
.select-dashboar{
    margin-top: 10px;
}
.h3-dashboar{
    display: flex;
    margin-bottom: 10%;
    color: #1c3678;
}
.table-hover{
    border-radius: 10px;

}
/*Crear Usuario*/
.usuario-container{
    padding: 100px;
    width: 60%;
}
.usuario-container .h3-usuario{
    margin-bottom: 22px;
    color: rgb(33, 61, 104);
}
.E-C_usuraio{
    display: flex;
    width: 100%;
    margin-top: 5px;
}
.container-ce-usuario{
   
    width: 48%;
}
.container-e-usuario{
    width: 48%;
    margin-left: 4%;
}
button[type="submit"]{
    border: none;
    background: rgb(33, 61, 104);
    font-size: 12px;
    color: white;
    width: 150px;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px;
    float: right;
    margin-top: 30px;
}

/*prequirugico*/
.contendor-prequi{
    padding: 6%;
    color: #29426d;
}
.infomacion{
    margin-bottom:20px;
}
.form-f-h{
    display: flex;
    width: 150%;
}
.form-prequi{
    width: 100%;
    display: flex;
}
.form-fecha{
    width: 80%;

}
.form-hora{
    width: 80%;
    margin-left: 5px;

}
.h3-prequi{
    color: #1c3678;
    margin-bottom: 40px;
}
.link-p{
    width: 100%;
    display: flex;
}
.estado-p{
    margin-left: 40px;
    padding-top: 5px;
    border-radius: 10px;
    height: 7%;
    width: 15%;
    text-align: center;
}
.prequi-button{
    margin-left: 150%;
}
/*Programado*/
.form-medico{
    width: 150%;
}
/*gestion*/
.label-info-gestion{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Pendiente*/
.form-fecha-pendiente{
    width: 55%
}
.pendiente-button{
    margin-right: 45%;
    margin-top: 65px;
}
.fecha{
    margin-bottom: 10px;
}
/*Perfil*/

.container-perfil{
    float: right;
    padding: 30px;
    margin-top: 10px;  
}
.dropdown-toggle{
    background: white;
    color: rgb(9, 36, 110);
    border: none;
}
.dropdown-toggle::after {
    display: flex;
    width: 10px;
    float: left;
    margin-top: 10px;
    margin-right: 8px;
}
